# A boltdb database is used for storing the email addresses subscribed to
# each mailing list. Recommended location is /var/db/strew.db
# You'll need to set permissions on it depending on which account your MTA
# runs strew-srv as.
database = /path/to/strew/database

# Address strew should receive user commands on
command_address = lists@example.com

# SMTP details for sending mail
smtp_hostname = "smtp.example.com"
smtp_port = 25
smtp_username = "nanolist"
smtp_password = "hunter2"

# Create a [list.id] section for each mailing list.
# The 'list.' prefix tells nanolist you're creating a mailing list. The rest
# is the id of the mailing list.

[list.golang]
# Address this list should receieve mail on
address = golang@example.com
# Information to show in the list of mailing lists
name = "Go programming"
description = "General discussion of Go programming"
# bcc all posts to the listed addresses for archival
bcc = archive@example.com, datahoarder@example.com

[list.announcements]
address = announce@example.com
name = "Announcements"
description = "Important announcements"
# List of email addresses that are permitted to post to this list
posters = admin@example.com, moderator@example.com

[list.fight-club]
address = robertpaulson99@example.com
# Don't tell users this list exists
hidden = true
# Only let subscribed users post to this list
subscribers_only = true
